/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-group {
    margin-bottom: 15px;
    flex: 1;
}

.input-group input[type="checkbox"] {
    margin-right: 45px;
}

.Title {
    margin-right: 0px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    box-sizing: border-box;
}

.submitContacts {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px; /* Add padding for button */
    font-size: 16px; /* Increase font size for better readability */
}

.submitContacts:disabled {
    background-color: rgba(255, 0, 0, 0.4);
    cursor: not-allowed;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
    text-decoration: underline;
}

/* Adjust styles for checkboxes */
.input-group div {
    display: flex;
    align-items: center;
}

input[type = "radio"] {
    line-height: normal;
    width: 20px;
    height: 20px;
    margin: auto;
    position: relative;
    bottom: 3px;
}


input::placeholder {
    text-align: center;
}

textarea::placeholder {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.pcmethod {
    text-align: center;
    font-size: 22px;
    padding-bottom: 5px;
}

.Toggles {
    padding-right: 50px;
    padding-left: 120px;
}

/* Media Query for Responsiveness */
@media screen and (max-width: 1024px) {
    .image-container {
        grid-template-columns: auto auto;
        grid-template-rows: 25% 25%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        width: 100%;
        position: absolute;
        top: 55px;
        left: 0;
    }
    /* Adjust Footer to Always Stay at Bottom of Page */
    footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
        font-size: 11px;
    }

    /* Hide Social Media Icons on Small Screens */
    .social-media {
        display: none;
    }

    /* Hide Social Media Icons on Small Screens */
    .social-media {
        display: none;
    }
}