/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-group {
    margin-bottom: 15px;
    flex: 1;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, select, textarea, .buttonContacts {
    width: 100%;
    padding: 10px;
    border: 1px rgba(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
}

.sumbitContacts {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.submitContacts:disabled {
    background-color: rgba(255, 0, 0, 0.4);
    cursor: not-allowed;
}

h2 {
    text-align: center;
    padding-top: 20px;
}

/* Social Media Section */
.social-media {
    scale: 75%;
    position: fixed;
    bottom: 0;
    right: 0;
}

/* Media Query for Responsiveness */
@media screen and (max-width: 1024px) {
    .image-container {
        grid-template-columns: auto auto;
        grid-template-rows: 25% 25%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        width: 100%;
        position: absolute;
        top: 55px;
        left: 0;
    }
    /* Adjust Footer to Always Stay at Bottom of Page */
    footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
        font-size: 11px;
    }

    /* Hide Social Media Icons on Small Screens */
    .social-media {
        display: none;
    }

    /* Hide Social Media Icons on Small Screens */
    .social-media {
        display: none;
    }
}