/* Main Content */
.central-container {
    display: grid;
    grid-template-columns: 650px auto;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: stretch;
    align-items: center;
    position: relative;
    top: 100px;
}

.central-image {
    max-width: 650px; /* Limit the width to 250px */
    width: 100%; /* Allow the image to scale down */
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 0;
}

.central-text {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: transparent; /* Fully transparent */
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 11px;
}

/* Social */
.social-media {
    text-align: center;
    margin: 375px 0;
}

