/* Footer */
.main-footer {
    text-align: center;
    padding: 20px;
    background: transparent; /* Fully transparent */
    position: fixed;
    bottom: 0;
    font-size: 11px;
    width: 100%;
}

/* Social Media Section */
.social-media {
    scale: 75%;
    position: absolute;
    bottom: 0;
    right: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}