/* Footer */
.main-footer {
    text-align: center;
    padding: 20px;
    background: transparent; /* Fully transparent */
    position: fixed;
    bottom: 0;
    font-size: 11px;
    width: 100%;
}

/* Social Media Section */
.social-media {
    scale: 75%;
    position: absolute;
    bottom: 0;
    right: -65px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Packages Section */
.service-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 65%;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    justify-items: stretch;
    align-items: stretch;
    position: relative;
    margin: auto 25px auto 25px;
    text-align: center;
    top: 75px;
    z-index: 0;
}

.card {
    align-items: center;
    position: relative;
    background-color: rgba(250, 235, 215, 0.3);
    border-radius: 15px;
    cursor: pointer;
    transition: 400ms;
    height: 450px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
    transform: scale(1.1, 1.1);
}

.tip {
    text-decoration: underline;
    font-weight: bold;
}

.package-icon {
    width: 24px;
    height: auto;
}

/* Media Query for Responsiveness */
@media screen and (max-width: 1024px) {
    /* Adjust Footer to Always Stay at Bottom of Page */
    footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
        font-size: 11px;
    }

    /* Hide Social Media Icons on Small Screens */
    .social-media {
        display: none;
    }

    .service-tabs {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 150px 150px 150px 150px;
        grid-row-gap: 25px;
        padding-bottom: 50px;
        justify-items: stretch;
        align-items: stretch;
        position: relative;
        margin: auto 30px auto 30px;
        text-align: center;
        top: 45px;
    }

    .card {
        align-items: center;
        position: relative;
        background-color: rgba(250, 235, 215, 0.3);
        border-radius: 15px;
        cursor: pointer;
        transition: 400ms;
        height: 150px;
    }
    
    main {
        padding-bottom: 100px;
    }
}