/* Footer */
.main-footer {
    text-align: center;
    padding: 20px;
    background: transparent; /* Fully transparent */
    position: fixed;
    bottom: 0;
    font-size: 11px;
    width: 100%;
}

/* Social Media Section */
.social-media {
    scale: 75%;
    position: fixed;
    bottom: 0;
    right: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media Query for Responsiveness */
@media screen and (max-width: 1024px) {
    .image-container {
        grid-template-columns: auto auto;
        grid-template-rows: 25% 25%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        width: 100%;
        position: absolute;
        top: 55px;
        left: 0;
    }
    /* Adjust Footer to Always Stay at Bottom of Page */
    footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
        font-size: 11px;
    }

    /* Hide Social Media Icons on Small Screens */
    .social-media {
        display: none;
    }

    /* Hide Social Media Icons on Small Screens */
    .social-media {
        display: none;
    }
}